.hero {
	position: relative;
}

/***************
    Particles 
***************/
.particles {
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	animation: 1s ease-in-out 0.5s slideClipPathLeft forwards;
	height: 100%;
}

@keyframes slideClipPathLeft {
	100% {
		clip-path: polygon(0 0, 57% 0, 50% 100%, 0 100%);
	}
}

/***************
    Hero Text   
***************/
.hero-text {
	position: absolute;
	top: 50%;
	left: 7%;
	max-width: 43vw;
	transform: translateY(-50%);
}

.hero-text .btn {
	margin-right: 4.6rem;
}

.hero-text h3 {
	letter-spacing: 0.8rem;
	font-size: 2rem;
	text-shadow: 0 0.3rem 0.6rem rgba(255, 255, 255, 0.171);
	font-weight: 400;
	margin: 3.3rem 0;
	margin-left: -16rem;
	animation: 3s moveBackToCenter forwards;
}

@keyframes moveBackToCenter {
	100% {
		margin-left: 0;
	}
}

.hero-text h3:nth-of-type(2) {
	letter-spacing: 0.054rem;
	line-height: 4rem;
}

.hero-text h1 {
	font-size: 3.6rem;
	font-family: "League Spartan";
	margin-left: -50rem;
	letter-spacing: 0.4rem;
	animation: 2s animateInFromLeft forwards;
}

.mern_text {
	opacity: 0;
	animation: fadeIn 3s ease 2s forwards;
}

@keyframes fadeIn {
	100% {
		opacity: 1;
	}
}

@keyframes animateInFromLeft {
	100% {
		margin-left: 0rem;
	}
}

/***************
   Hero Image 
***************/
.hero-image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 3px;
	overflow: hidden;
	left: 50%;
	z-index: -1;
}

.hero-image img {
	height: 100%;
}

/***************
   Mobile Hero
***************/

.hero-mobile {
	height: 32.1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.mobile-hero-image {
	border-radius: 50%;
	height: 5.8rem;
	width: 5.8rem;
	margin: 0 auto;
}

.hero-text-mobile {
	text-align: center;
}

.hero-text-mobile .btn {
	margin-right: 4.6rem;
}

.hero-text-mobile h3 {
	letter-spacing: 0.31rem;
	font-size: 2rem;
	text-shadow: 0 0.3rem 0.6rem rgba(204, 204, 204, 0.288);
	font-weight: 400;
}

.hero-text-mobile h3:nth-of-type(2) {
	letter-spacing: 0.054rem;
	line-height: 4rem;
	font-size: 1.4rem;
}

.hero-text-mobile h1 {
	font-size: 3.6rem;
	font-family: "League Spartan";
	letter-spacing: 0.5rem;
	max-width: 31.2rem;
	margin: 0 auto;
}
